In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import IsolationForest
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split

In [2]:
data_df=pd.read_csv('credit_card_transactions.csv')
data_df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0,28705.0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,NaN
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0,83236.0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0,NaN
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0,22844.0

In [3]:
data_df.shape

(1296675, 24)

In [4]:
data_df.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode
count,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.100702e+06
mean,6.483370e+05,4.171920e+17,7.035104e+01,4.880067e+04,3.853762e+01,-9.022634e+01,8.882444e+04,1.349244e+09,3.853734e+01,-9.022646e+01,5.788652e-03,4.682575e+04
std,3.743180e+05,1.308806e+18,1.603160e+02,2.689322e+04,5.075808e+00,1.375908e+01,3.019564e+05,1.284128e+07,5.109788e+00,1.377109e+01,7.586269e-02,2.583400e+04
min,0.000000e+00,6.041621e+10,1.000000e+00,1.257000e+03,2.002710e+01,-1.656723e+02,2.300000e+01,1.325376e+09,1.902779e+01,-1.666712e+02,0.000000e+00,1.001000e+03
25%,3.241685e+05,1.800429e+14,9.650000e+00,2.623700e+04,3.462050e+01,-9.679800e+01,7.430000e+02,1.338751e+09,3.473357e+01,-9.689728e+01,0.000000e+00,2.511400e+04
50%,6.483370e+05,3.521417e+15,4.752000e+01,4.817400e+04,3.935430e+01,-8.747690e+01,2.456000e+03,1.349250e+09,3.936568e+01,-8.743839e+01,0.000000e+00,4.586000e+04
75%,9.725055e+05,4.642255e+15,8.314000e+01,7.204200e+04,4.194040e+01,-8.015800e+01,2.032800e+04,1.359385e+09,4.195716e+01,-8.023680e+01,0.000000e+00,6.831900e+04
max,1.296674e+06,4.992346e+18,2.894890e+04,9.978300e+04,6.669330e+01,-6.795030e+01,2.906700e+06,1.371817e+09,6.751027e+01,-6.695090e+01,1.000000e+00,9.940300e+04

In [5]:
data_df.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud', 'merch_zipcode'],
      dtype='object')

In [17]:
data_df=data_df.drop(columns=['Unnamed: 0','first', 'last', 'street','trans_num','cc_num','dob'])

In [9]:
data_df['amount']=data_df['amt']
data_df.drop(columns=['amt'],inplace=True)

In [11]:
data_df['timestamp']=data_df['trans_date_trans_time']
data_df.drop(columns=['trans_date_trans_time'],inplace=True)

In [15]:

data_df = data_df.sort_values(['cc_num','unix_time'])

# convert to datetime
data_df['unix_time'] = pd.to_datetime(data_df['unix_time'], unit='s')

# time difference
data_df['time_diff'] = (
    data_df.groupby('cc_num')['unix_time']
    .diff()
    .dt.total_seconds()
    .fillna(0)
)

# tx count in last 24h
data_df['tx_count_24h'] = (
    data_df
    .set_index('unix_time')
    .groupby('cc_num')
    .rolling('86400s')
    .count()['amount']
    .reset_index(level=0, drop=True)
    .reset_index(drop=True)
)

# location change
data_df['location_change'] = (
    data_df.groupby('cc_num')['city']
    .transform(lambda x: (x != x.shift()).astype(int))
)

# device change
data_df['device_change'] = (
    data_df.groupby('cc_num')['job']
    .transform(lambda x: (x != x.shift()).astype(int))
)

# biometric confidence
data_df['biometric_confidence'] = np.where(
    data_df['is_fraud'] == 1,
    np.random.uniform(0.65, 0.85, size=len(data_df)),
    np.random.uniform(0.93, 0.99, size=len(data_df))
)

In [18]:
data_df.head()

,merchant,category,gender,city,state,zip,lat,long,city_pop,job,...,is_fraud,merch_zipcode,amtount,amount,timestamp,time_diff,tx_count_24h,location_change,device_change,biometric_confidence
1017,"fraud_Jones, Sawayn and Romaguera",misc_net,F,Fort Washakie,WY,82514,43.0048,-108.8964,1645,Information systems manager,...,0,NaN,7.27,7.27,2019-01-01 12:47:15,0.0,5.0,1,1,0.951209
2724,fraud_Berge LLC,gas_transport,F,Fort Washakie,WY,82514,43.0048,-108.8964,1645,Information systems manager,...,0,NaN,52.94,52.94,2019-01-02 08:44:57,71862.0,1.0,0,0,0.965988
2726,fraud_Luettgen PLC,gas_transport,F,Fort Washakie,WY,82514,43.0048,-108.8964,1645,Information systems manager,...,0,NaN,82.08,82.08,2019-01-02 08:47:36,159.0,3.0,0,0,0.933301
2882,fraud_Daugherty LLC,kids_pets,F,Fort Washakie,WY,82514,43.0048,-108.8964,1645,Information systems manager,...,0,NaN,34.79,34.79,2019-01-02 12:38:14,13838.0,3.0,0,0,0.975792
2907,fraud_Beier and Sons,home,F,Fort Washakie,WY,82514,43.0048,-108.8964,1645,Information systems manager,...,0,82649.0,27.18,27.18,2019-01-02 13:10:46,1952.0,3.0,0,0,0.960270